<% include ../partials/header %>

<!-- insert code here -->
<form class="" action="/sign-in" method="post">
  <label for="email">Email</label>
  <input type="email" name="email"/>

  <label for="password">Password</label>
  <input type="password" name="password"/>

  <p>
  <%= error %>
  </p>

  <button type="submit" name="button">Sign In</button>
</form>

<% include ../partials/footer %>
